<div class="dashboard">
  <div class="row button-container">
    <div class="col-md-6 col-sm-12">
      <button mat-raised-button color="accent" [routerLink]="['/product', 0]" class="custom-button">
        <mat-icon>add</mat-icon>
        Prodotto
      </button>
    </div>
    <div class="col-md-6 col-sm-12">
      <button mat-raised-button color="primary" routerLink="/statistics" class="custom-button">
        <mat-icon>assessment</mat-icon>
        Statistiche
      </button>
    </div>
    <div class="col-md-6 col-sm-12">
      <button mat-raised-button color="info" routerLink="/product-list/0" class="custom-button">
        <img src="assets/PanelLayout.png" alt="Panel View" style="width: 50px;" />
        Prodotti
      </button>
    </div>
    <div class="col-md-6 col-sm-12">
      <button mat-raised-button color="secondary" routerLink="/product-list/1" class="custom-button">
        <img src="assets/GridLayout.png" alt="Grid View" style="width: 50px;" />
        Prodotti
      </button>
    </div>
  </div>

  <div class="row button-container">
    <div class="col-md-6 col-sm-12">
      <app-chart></app-chart>
    </div>

    <div class="col-md-6 col-sm-12">
      <app-products-list [hasTitle]="false" [pageSize]="4"></app-products-list>
    </div>
  </div>
</div>