.button-container {
  width: 75vw;
  margin: 10px auto;
}

.custom-button {
  margin: 10px;
  font-size: 24px;
  padding: 20px 40px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.custom-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Specific Hover Effects for each button color */
.custom-button[color="primary"]:hover {
  background-color: #004d40 !important;
  /* Teal darkened */
}

.custom-button[color="accent"]:hover {
  background-color: #6e0935 !important;
  /* Deep Amber darkened */
}