<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="isSidebarOpen = !isSidebarOpen">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{store?.name}}</span>
      <span class="spacer"></span>
      <button mat-icon-button routerLink="/dashboard" title="Dashboard">
        <mat-icon>dashboard</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="['/product', 0]" title="Aggiungi prodotto">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button routerLink="/statistics" title="Statistiche">
        <mat-icon>assessment</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="userMenu" title="User">
        <mat-icon>account_circle</mat-icon>
      </button>

      <div *ngIf="nomeImpiegato && !isMobile">
        <span>Ciao, {{ nomeImpiegato }}!</span>
      </div>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item *ngFor="let employee of store?.employees" (click)="selectEmployee(employee)">
          {{ employee }}
        </button>
      </mat-menu>


    </mat-toolbar>
    <mat-sidenav #sidenav mode="side" [opened]="isSidebarOpen" class="sidenav">
      <mat-nav-list>
        <a class="text-white" mat-list-item routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          <span class="pl-3">Dashboard</span>
        </a>
        <a class="text-white" mat-list-item [routerLink]="['/product', 0]">
          <mat-icon>add</mat-icon>
          <span class="pl-3">Prodotto</span>
        </a>
        <a class="text-white" mat-list-item routerLink="/product-list">
          <mat-icon>list</mat-icon>
          <span class="pl-3">Prodotti</span>
        </a>
        <a class="text-white" mat-list-item routerLink="/statistics">
          <mat-icon>assessment</mat-icon>
          <span class="pl-3">Statistiche</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <div *ngIf="store" class="content content-wrapper" [ngClass]="{'opened': isSidebarOpen}">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>